
body {
    background-color: #202020;
}

.left { 
    float: left;
    border: 1px dotted white ;
}

main {
    width: 100%;
}
.contact-icon {
}
.contact {
    color: #f5edd2;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    padding: 0px 0px 0px 10px;
}
.contact p {
    margin-bottom: -10px;
}

.profile-img {
    width: 200px;
    height: 200px;
    background: url("placeholder-img.jpg") 0 0;
    background-size: 100% 100%;
}

.right {
    float: left;
    border: 1px solid white ;
    padding: 0px 0px 0px 10px;
    color: #f5edd2;
    overflow: auto;
}
.right h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
}
.right p { 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

.projects-container {
    border: 1px dashed white ;
    margin: 0px 10px 10px 0;
}