debug = false;
debug-border() 
	if debug 
		border: arguments;

boxshadow()
	-webkit-box-shadow: arguments; 
	-moz-box-shadow: arguments;
	box-shadow: arguments;

almost-white = #202020;
bg = #E9EBEE;
projects-bg = white;

body {
    background-color: bg;
    font-family: 'Roboto Condensed', sans-serif;
	color: almost-white;
}

#root { 
	width 100%;
	margin: auto;
}
@media (min-width: 768px) {
	#root{
		width: 750px;
	}
}
@media (min-width: 992px) {
	#root { 
		width 940px;
	}
} 

a {
	color: almost-white;
	text-decoration: none;
}

a:hover {
	color: #6688ff;
}

.right {
    debug-border: 1px solid white ;
    padding: 0px 0px 0px 10px;
    overflow: auto;
	text-align: center;
}

.right h1 {
    font-weight: 700;
    margin: 5px 5px 20px;

}
.right p { 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    margin: -15px 5px 10px;
}

.projects {
    debug-border: 1px dashed white ;
    margin: 0px 10px 10px 0;
	background: projects-bg;
	boxshadow: 16px 15px 15px -20px rgba(0,0,0,0.75);
	border-radius: 4px;
	margin-top: 40px;
	text-align: center;
}

.projects-header h1 {
	debug-border: 1px dashed red ;
	margin: 5px 0px 5px 10px;
	font-size: 25px;
}

.projects-header {
	debug-border: 1px solid red ;
	background: projects-bg;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: gray;
	border-radius: 4px 4px 0px 0px;
}

.projects-body {
	debug-border: 1px dashed green ;
	background: projects-bg;
	border-radius: 0px 0px 4px 4px;
	padding-bottom 10px;
}

.project {
	debug-border: 1px dashed red ;
	margin: 4px 4px 10px;
	padding: 0px 5px 0px 5px
	overflow: hidden;
}

.thumbnail { 
	debug-border: 1px dashed purple;
	width: 300px;
	float:left;
	width: 100%;
}

.thumbnail h1 {
	font-size: 25px;
	margin: 0px;
	text-align: center;
}

.thumbnail  h3 {
	font-size: 15px;
	font-style: italic;
	margin: 0px;
}

.thumbnail img { 
	width: 300px;
	vertical-align: middle;
	display: block;
	margin: auto;
}

.inline { 
	display: inline;
}

.summary {
	debug-border: 1px solid white;
	overflow: hidden;
	float: left;
	padding: 10px 0px
}

@media (min-width: 768px) {
	.thumbnail img { 
		display: inline;
		margin: 0px;
		vertical-align: auto;
	}
	.projects {
		text-align: left;
	}
	.thumbnail  {
		width: auto;
	}
	.thumbnail  h1 {
		text-align: left;
	}
	.thumbnail  h3 {
		text-align: left;
	}
	.thumbnail  img {

	}
	.summary {
		padding: 45px 0px 25px 10px;
		margin-left: 10px;
		float: none;
	}
}

.summary div {
	padding-top: 10px;
}

.summary p {
	display: inline;
	padding: 10px 0px 10px 0px;
	margin-top: 10px
}


.summary {
	debug-border: 1px dashed blue
}
